In [1]:
#Import basic packages
import os
import numpy as np
import pandas as pd
import csv
import regex as re
import datetime as dt

In [2]:
#import outcome file with org_uuid
main_df = pd.read_csv(R"d:/msc-project/data/final/outcome_final.csv",encoding='utf-8',
                         parse_dates= ['founded_on','seed_date','series_a_date','series_b_date','series_c_date'])
main_processing_df = main_df[['org_uuid','name','outcome']]

In [3]:
#import main organisation csv
org_ori_df = pd.read_csv(R"d:/msc-project/data/pre-processed/organisations_preprocessed.csv",encoding='utf-8',
                         parse_dates= ['founded_on','went_public_on','acquired_on','closed_on'])

In [4]:
org_ori_df.columns

Index(['org_uuid', 'name', 'legal_name', 'homepage_url', 'country_code',
       'state_code', 'region', 'city', 'address', 'postal_code', 'status',
       'short_description', 'category_list', 'category_groups_list',
       'num_funding_rounds', 'total_funding_usd', 'total_funding',
       'total_funding_currency_code', 'founded_on', 'last_funding_on',
       'closed_on', 'employee_count', 'email', 'phone', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url', 'primary_role', 'num_exits',
       'description', 'ipo_uuid', 'stock_exchange_symbol', 'stock_symbol',
       'went_public_on', 'share_price_usd', 'share_price',
       'share_price_currency_code', 'valuation_price_usd', 'valuation_price',
       'valuation_price_currency_code', 'money_raised_usd', 'money_raised',
       'money_raised_currency_code', 'acquisition_uuid', 'acquirer_uuid',
       'acquirer_name', 'acquirer_country_code', 'acquirer_state_code',
       'acquirer_region', 'acquirer_city', 'acquisition_type', 'acquired_on',
       'price_usd', 'price', 'price_currency_code', 'parent_uuid',
       'parent_name'],
      dtype='object')

In [5]:
org_processing_df = org_ori_df[['org_uuid','facebook_url','linkedin_url','twitter_url']]

In [6]:
org_processing_df.head(10)

,org_uuid,facebook_url,linkedin_url,twitter_url
0,e1393508-30ea-8a36-3f96-dd3226033abd,https://www.facebook.com/Wetpaint,https://www.linkedin.com/company/wetpaint,https://twitter.com/wetpainttv
1,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,http://www.facebook.com/digg,http://www.linkedin.com/company/digg,http://twitter.com/digg
2,df662812-7f97-0b43-9d3e-12f64f504fbb,https://www.facebook.com/facebook/,http://www.linkedin.com/company/facebook,https://twitter.com/facebook
3,60485007-8856-bbac-aa1b-c535c41f5f47,http://www.facebook.com/Nomadesk,NaN,http://twitter.com/Nomadesk
4,4111dc8b-c0df-2d24-ed33-30cd137b3098,NaN,NaN,http://twitter.com/geni
5,5da6106f-0d27-0d37-e9d7-dcfeccc1f709,https://www.facebook.com/twitterinc,http://www.linkedin.com/company/twitter,http://twitter.com/twitter
6,3d16cb4c-911e-75c0-de5a-15c316b39f98,https://www.facebook.com/StumbleUpon,http://www.linkedin.com/company/stumbleupon,http://twitter.com/stumbleupon
7,21e77067-5537-408e-cad7-e5e72bb6ad86,http://www.facebook.com/Scribd,http://www.linkedin.com/company/scribd,http://www.twitter.com/scribd
8,ea091a8c-40e0-0607-e05a-86e734f94ade,http://www.facebook.com/SlackerRadio,https://www.linkedin.com/company/slacker,http://twitter.com/SlackerRadio
9,59fada33-1595-de45-b362-062a04cf51cf,NaN,NaN,NaN

In [7]:
#fill NA value with 0 and non NA with 1
org_processing_df['facebook_url'][org_processing_df['facebook_url'].notnull()] = 1
org_processing_df['linkedin_url'][org_processing_df['linkedin_url'].notnull()] = 1
org_processing_df['twitter_url'][org_processing_df['twitter_url'].notnull()] = 1
org_processing_df.fillna(0,inplace=True)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\pandas\core\series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\pandas\core\frame.py:4468: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [8]:
org_processing_df.head(10)

,org_uuid,facebook_url,linkedin_url,twitter_url
0,e1393508-30ea-8a36-3f96-dd3226033abd,1,1,1
1,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,1,1,1
2,df662812-7f97-0b43-9d3e-12f64f504fbb,1,1,1
3,60485007-8856-bbac-aa1b-c535c41f5f47,1,0,1
4,4111dc8b-c0df-2d24-ed33-30cd137b3098,0,0,1
5,5da6106f-0d27-0d37-e9d7-dcfeccc1f709,1,1,1
6,3d16cb4c-911e-75c0-de5a-15c316b39f98,1,1,1
7,21e77067-5537-408e-cad7-e5e72bb6ad86,1,1,1
8,ea091a8c-40e0-0607-e05a-86e734f94ade,1,1,1
9,59fada33-1595-de45-b362-062a04cf51cf,0,0,0

In [9]:
main_processing_df_v1 = pd.merge(main_processing_df,
                              org_processing_df,
                              on='org_uuid',
                              how='left')

In [10]:
main_processing_df_v1.shape

(76806, 6)

In [11]:
main_processing_df_v1.head(10)

,org_uuid,name,outcome,facebook_url,linkedin_url,twitter_url
0,00107fd1-b65b-85cd-7d60-c00c4b2ae2fb,CloudAptitude,0,1,0,1
1,0013719b-13cb-9419-c604-597100dd642f,Win Win Slots,0,0,0,0
2,001c3ed9-6eb1-63b6-eeba-dcdb97f9444f,PetaData Labs SocialDNA,0,0,0,1
3,002194d5-e7cf-cc78-86ca-4213f8edf62b,Smart Lanes,0,1,1,1
4,002542fe-a20c-aab2-1bcf-6f495fac9ab1,Clay Piggy,0,1,1,1
5,002f3cd0-9655-4f2d-834f-af6fc7a8a437,Kids on 45th,0,1,1,0
6,004a5400-2048-bd32-4387-4b7d3db21dde,piALGO Technologies,0,0,0,1
7,004c2baa-36be-4d84-8731-5418ce248ab5,Altitude Products,0,1,1,1
8,004dcb71-74c2-f566-56e1-d6a503f675a1,Divvy,0,1,0,1
9,00572f97-a71a-912f-33ff-53e630513374,Soundhawk Corporation,0,0,0,0

In [12]:
org_processing_df = org_ori_df[['org_uuid','country_code']]

#create column for one-hot-encode for country
column_name = list()
for country_code in list(pd.get_dummies(org_processing_df.country_code).columns):
    column_name.append(str('is_' + country_code.lower()))
    
country_one_hot = pd.get_dummies(org_processing_df.country_code, columns=column_name)
new_column_dict = dict(zip(country_one_hot.columns,column_name))
country_one_hot.rename(columns = new_column_dict,inplace=True)

In [13]:
org_processing_df = pd.concat([org_processing_df['org_uuid'],country_one_hot],
                             axis=1)
org_processing_df.head(3)

,org_uuid,is_abw,is_afg,is_ago,is_aia,is_alb,is_are,is_arg,is_arm,is_asm,...,is_ukr,is_ury,is_usa,is_uzb,is_ven,is_vnm,is_yem,is_zaf,is_zmb,is_zwe
0,e1393508-30ea-8a36-3f96-dd3226033abd,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,df662812-7f97-0b43-9d3e-12f64f504fbb,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [14]:
main_processing_df_v2 = pd.merge(main_processing_df_v1,
                                org_processing_df,
                                on='org_uuid',
                                how='left')
main_processing_df_v2.shape

(76806, 188)

In [15]:
main_processing_df_v2.head(3)

,org_uuid,name,outcome,facebook_url,linkedin_url,twitter_url,is_abw,is_afg,is_ago,is_aia,...,is_ukr,is_ury,is_usa,is_uzb,is_ven,is_vnm,is_yem,is_zaf,is_zmb,is_zwe
0,00107fd1-b65b-85cd-7d60-c00c4b2ae2fb,CloudAptitude,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0013719b-13cb-9419-c604-597100dd642f,Win Win Slots,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,001c3ed9-6eb1-63b6-eeba-dcdb97f9444f,PetaData Labs SocialDNA,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
#import event appearance file csv
event_appear_df = pd.read_csv(R"d:/msc-project/data/pre-processed/event_appearances_preprocessed.csv",encoding='utf-8')

In [17]:
event_appear_df.head(3)

,event_appear_uuid,event_appear_name,type,event_uuid,event_name,participant_uuid,participant_name,participant_type,appearance_type,short_description
0,30c4023d-b694-4704-97d7-cd99cd06ecce,Adobe MAX 2014's sponsor - CDW Corporation,event_appearance,135a927a-b238-037e-50e2-d3a2e3511ed2,Adobe MAX 2014,ae883a31-3739-7eb9-4ce0-463ee070ed79,CDW Corporation,organization,sponsor,NaN
1,dffe0542-3dac-4228-a997-3eed42cbd67e,Adobe MAX 2014's sponsor - Microsoft,event_appearance,135a927a-b238-037e-50e2-d3a2e3511ed2,Adobe MAX 2014,fd80725f-53fc-7009-9878-aeecf1e9ffbb,Microsoft,organization,sponsor,NaN
2,21884e6c-d097-4c54-8513-10536a0ea60d,Adobe MAX 2014's sponsor - Twitter,event_appearance,135a927a-b238-037e-50e2-d3a2e3511ed2,Adobe MAX 2014,5da6106f-0d27-0d37-e9d7-dcfeccc1f709,Twitter,organization,sponsor,NaN

In [18]:
top1000_events_uuid = event_appear_df['event_uuid'].value_counts().nlargest(1000)

In [19]:
top1000_events_uuid

44f32ad8-b8b4-4f33-9240-25ac4e64c5a3    3424
55b8f2a5-0cea-be6c-a674-a2242a6d36a4    3119
44ed4b3c-3410-a53c-ae20-bd64a63a890c    2076
746dad2c-783e-2234-f4e9-f83cdfdb28db    1627
55bf117e-47b1-4578-99e2-0f22f9d364d2    1408
                                        ...
b12cdfff-85f8-4c44-a659-937353f8f8c9     100
f9a3bab5-94d4-4f85-8930-a607020134d7     100
cfe55b5a-08eb-4fe9-b43c-ac4b729cf939     100
470ef7cb-2e0d-4301-a6dc-dff607069040     100
f53d4850-4c40-10ca-d6ca-bf69eb3e0ac9     100
Name: event_uuid, Length: 1000, dtype: int64

In [20]:
#Create df with top 1000 events (more than 100 occurences)
df=event_appear_df
top_1000_events_df = df[df.groupby('event_uuid')['event_uuid'].transform('size') >= 100]

In [21]:
top_1000_events_df.head(3)

,event_appear_uuid,event_appear_name,type,event_uuid,event_name,participant_uuid,participant_name,participant_type,appearance_type,short_description
62,3558b4d3-48d2-4200-a432-13b34b8aabaa,TechCrunch Disrupt Europe 2014: London's speak...,event_appearance,b1674167-d146-cf1a-7771-f3bc142f8c7d,TechCrunch Disrupt Europe 2014: London,cf8ca897-3875-9a87-8488-551685974ede,Mikkel Asger Svane,person,speaker,NaN
63,c09e0eba-f40b-4d93-99ee-0df38cc49c40,TechCrunch Disrupt Europe 2014: London's speak...,event_appearance,b1674167-d146-cf1a-7771-f3bc142f8c7d,TechCrunch Disrupt Europe 2014: London,ff436b49-11d8-6e67-3a4a-e2c28815d262,Eze Vidra,person,speaker,NaN
64,6a811264-4e37-4d1a-9c87-0d56e4de6d0e,TechCrunch Disrupt Europe 2014: London's speak...,event_appearance,b1674167-d146-cf1a-7771-f3bc142f8c7d,TechCrunch Disrupt Europe 2014: London,ac2db614-63e1-9ec4-7af1-e0544edbab68,Philippe Botteri,person,speaker,NaN

In [22]:
top1000_attendees = list (set(top_1000_events_df['participant_uuid']))
len(top1000_attendees)

147231

In [23]:
is_attend_top1000_event = list()

for org_uuid in list (main_processing_df_v2['org_uuid']):
    if org_uuid in top1000_attendees:
        is_attend_top1000_event.append(1)
    else:
        is_attend_top1000_event.append(0)

main_processing_df_v2['is_attend_top1000_event'] = is_attend_top1000_event

In [24]:
main_processing_df_v2.head(3)

,org_uuid,name,outcome,facebook_url,linkedin_url,twitter_url,is_abw,is_afg,is_ago,is_aia,...,is_ury,is_usa,is_uzb,is_ven,is_vnm,is_yem,is_zaf,is_zmb,is_zwe,is_attend_top1000_event
0,00107fd1-b65b-85cd-7d60-c00c4b2ae2fb,CloudAptitude,0,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0013719b-13cb-9419-c604-597100dd642f,Win Win Slots,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,001c3ed9-6eb1-63b6-eeba-dcdb97f9444f,PetaData Labs SocialDNA,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0