In [1]:
#Import basic packages
import os
import numpy as np
import pandas as pd
import csv
import regex as re
import datetime as dt

In [2]:
#import outcome file with org_uuid
main_df = pd.read_csv(R"d:/msc-project/data/final/outcome_final.csv",encoding='utf-8',
                         parse_dates= ['founded_on','seed_date','series_a_date','series_b_date','series_c_date'])
main_processing_df = main_df[['org_uuid','name','outcome']]

In [3]:
main_df.head(3)

,org_uuid,name,status,founded_on,seed_date,series_a_date,first_fund_date,series_b_date,series_c_date,num_funding_rounds,duration_founded_to_first_fund,duration_first_fund_to_series_a,duration_first_fund_to_series_b,duration_first_fund_to_series_c,outcome
0,00107fd1-b65b-85cd-7d60-c00c4b2ae2fb,CloudAptitude,closed,2012-01-28,2012-01-29,NaT,2012-01-29,NaT,NaT,1.0,0.00,NaN,NaN,NaN,0
1,0013719b-13cb-9419-c604-597100dd642f,Win Win Slots,closed,2012-06-06,2013-01-01,NaT,2013-01-01,NaT,NaT,1.0,0.57,NaN,NaN,NaN,0
2,001c3ed9-6eb1-63b6-eeba-dcdb97f9444f,PetaData Labs SocialDNA,closed,2013-01-10,2014-05-12,NaT,2014-05-12,NaT,NaT,1.0,1.33,NaN,NaN,NaN,0

In [4]:
len(main_processing_df)

76806

In [5]:
#import main organisation csv
org_ori_df = pd.read_csv(R"d:/msc-project/data/pre-processed/organisations_preprocessed.csv",encoding='utf-8',
                         parse_dates= ['founded_on','went_public_on','acquired_on','closed_on'])

In [6]:
org_ori_df.head(3)

,org_uuid,name,legal_name,homepage_url,country_code,state_code,region,city,address,postal_code,...,acquirer_state_code,acquirer_region,acquirer_city,acquisition_type,acquired_on,price_usd,price,price_currency_code,parent_uuid,parent_name
0,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,NaN,http://www.wetpaint.com/,USA,NY,New York,New York,902 Broadway 11th Floor New,10010,...,NY,New York,New York,acquisition,2013-12-16,30000000.0,30000000.0,USD,NaN,NaN
1,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,"Digg Holdings, LLC",http://www.digg.com,USA,NY,New York,New York,NaN,NaN,...,NY,New York,New York,acquisition,2012-07-12,16000000.0,16000000.0,USD,NaN,NaN
2,df662812-7f97-0b43-9d3e-12f64f504fbb,Facebook,"Facebook, Inc.",http://www.facebook.com,USA,CA,California,Menlo Park,1 Hacker Way,94025,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [7]:
org_ori_df.columns

Index(['org_uuid', 'name', 'legal_name', 'homepage_url', 'country_code',
       'state_code', 'region', 'city', 'address', 'postal_code', 'status',
       'short_description', 'category_list', 'category_groups_list',
       'num_funding_rounds', 'total_funding_usd', 'total_funding',
       'total_funding_currency_code', 'founded_on', 'last_funding_on',
       'closed_on', 'employee_count', 'email', 'phone', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url', 'primary_role', 'num_exits',
       'description', 'ipo_uuid', 'stock_exchange_symbol', 'stock_symbol',
       'went_public_on', 'share_price_usd', 'share_price',
       'share_price_currency_code', 'valuation_price_usd', 'valuation_price',
       'valuation_price_currency_code', 'money_raised_usd', 'money_raised',
       'money_raised_currency_code', 'acquisition_uuid', 'acquirer_uuid',
       'acquirer_name', 'acquirer_country_code', 'acquirer_state_code',
       'acquirer_region', 'acquirer_city', 'acquisition_type', 'acquired_on',
       'price_usd', 'price', 'price_currency_code', 'parent_uuid',
       'parent_name'],
      dtype='object')

In [8]:
org_processing = org_ori_df[['org_uuid','category_groups_list']]

In [9]:
org_processing.head(3)

,org_uuid,category_groups_list
0,e1393508-30ea-8a36-3f96-dd3226033abd,"Content and Publishing,Internet Services,Media..."
1,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,"Internet Services,Media and Entertainment"
2,df662812-7f97-0b43-9d3e-12f64f504fbb,"Apps,Community and Lifestyle,Content and Publi..."

In [10]:
#create a list of unique categories
#categories_list = list(org_processing['category_list'])
#unique_categories = set()

#for category_list in categories_list:
    #category_list = category_list.split(',')
    #for category in category_list:
        #unique_categories.add(category)
        
#unique_categories = list (unique_categories)
#unique_categories.sort()

In [11]:
#assign one hot encode for category_list for each company
#for category in unique_categories:
    #column_name = 'is_'+category.lower().replace(' ','_')
    #one_hot = list()

    #for category_list in categories_list:
        #category_list = category_list.split(',')
        #if category in category_list:
            #one_hot.append(1)
        #else:
            #one_hot.append(0)

    #org_processing[column_name]=one_hot

In [12]:
org_processing.head(3)

,org_uuid,category_groups_list
0,e1393508-30ea-8a36-3f96-dd3226033abd,"Content and Publishing,Internet Services,Media..."
1,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,"Internet Services,Media and Entertainment"
2,df662812-7f97-0b43-9d3e-12f64f504fbb,"Apps,Community and Lifestyle,Content and Publi..."

In [13]:
#create a list of unique category groups
groups_list = list(org_processing['category_groups_list'])
unique_groups = set()

for group_list in groups_list:
    group_list = group_list.split(',')
    for group in group_list:
        unique_groups.add(group)
        
unique_groups = list (unique_groups)
unique_groups.sort()

In [14]:
len(unique_groups)

47

In [15]:
#assign one hot encode for category_list for each company
for group in unique_groups:
    column_name = 'is_'+group.lower().replace(' ','_')
    one_hot = list()

    for group_list in groups_list:
        group_list = group_list.split(',')
        if group in group_list:
            one_hot.append(1)
        else:
            one_hot.append(0)

    org_processing[column_name]=one_hot

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [16]:
org_processing.head(3)

,org_uuid,category_groups_list,is_administrative_services,is_advertising,is_agriculture_and_farming,is_apps,is_artificial_intelligence,is_biotechnology,is_clothing_and_apparel,is_commerce_and_shopping,...,is_professional_services,is_real_estate,is_sales_and_marketing,is_science_and_engineering,is_software,is_sports,is_sustainability,is_transportation,is_travel_and_tourism,is_video
0,e1393508-30ea-8a36-3f96-dd3226033abd,"Content and Publishing,Internet Services,Media...",0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,"Internet Services,Media and Entertainment",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,df662812-7f97-0b43-9d3e-12f64f504fbb,"Apps,Community and Lifestyle,Content and Publi...",0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [17]:
org_processing.shape

(153048, 49)

In [18]:
org_processing.drop(columns = ['category_groups_list'],inplace=True)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [19]:
org_processing

,org_uuid,is_administrative_services,is_advertising,is_agriculture_and_farming,is_apps,is_artificial_intelligence,is_biotechnology,is_clothing_and_apparel,is_commerce_and_shopping,is_community_and_lifestyle,...,is_professional_services,is_real_estate,is_sales_and_marketing,is_science_and_engineering,is_software,is_sports,is_sustainability,is_transportation,is_travel_and_tourism,is_video
0,e1393508-30ea-8a36-3f96-dd3226033abd,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,df662812-7f97-0b43-9d3e-12f64f504fbb,0,0,0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
3,60485007-8856-bbac-aa1b-c535c41f5f47,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,4111dc8b-c0df-2d24-ed33-30cd137b3098,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153043,ab278d7c-eb9f-4ed3-8c65-24b7685145a4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153044,e3baa88d-8592-40cc-8ff5-c40254b444e2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153045,03249b8e-ea2b-4839-a409-232f796f0e62,0,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0
153046,e2760a4a-4645-4e09-a201-3f92807123be,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
153047,a7773520-44a8-438e-906f-719293e4706d,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0

In [20]:
main_processing_df_v1 = pd.merge (main_processing_df,
                                 org_processing,
                                 on='org_uuid',
                                 how='left')
main_processing_df_v1.head(3)

,org_uuid,name,outcome,is_administrative_services,is_advertising,is_agriculture_and_farming,is_apps,is_artificial_intelligence,is_biotechnology,is_clothing_and_apparel,...,is_professional_services,is_real_estate,is_sales_and_marketing,is_science_and_engineering,is_software,is_sports,is_sustainability,is_transportation,is_travel_and_tourism,is_video
0,00107fd1-b65b-85cd-7d60-c00c4b2ae2fb,CloudAptitude,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0013719b-13cb-9419-c604-597100dd642f,Win Win Slots,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,001c3ed9-6eb1-63b6-eeba-dcdb97f9444f,PetaData Labs SocialDNA,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [21]:
org_processing = org_ori_df[['org_uuid','founded_on','country_code','state_code']]

In [22]:
org_processing.head(3)

                               org_uuid founded_on country_code state_code
0  e1393508-30ea-8a36-3f96-dd3226033abd 2005-06-01          USA         NY
1  5f2b40b8-d1b3-d323-d81a-b7a8e89553d0 2004-10-11          USA         NY
2  df662812-7f97-0b43-9d3e-12f64f504fbb 2004-02-04          USA         CA

In [23]:
org_processing['founded_year'] = org_processing['founded_on'].dt.year

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
org_processing.head(3)

,org_uuid,founded_on,country_code,state_code,founded_year
0,e1393508-30ea-8a36-3f96-dd3226033abd,2005-06-01,USA,NY,2005
1,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,2004-10-11,USA,NY,2004
2,df662812-7f97-0b43-9d3e-12f64f504fbb,2004-02-04,USA,CA,2004

In [25]:
org_processing = pd.merge(main_processing_df_v1['org_uuid'],
                         org_processing,
                         on='org_uuid',
                         how='left')
org_processing.head(3)

,org_uuid,founded_on,country_code,state_code,founded_year
0,00107fd1-b65b-85cd-7d60-c00c4b2ae2fb,2012-01-28,USA,TN,2012
1,0013719b-13cb-9419-c604-597100dd642f,2012-06-06,USA,FL,2012
2,001c3ed9-6eb1-63b6-eeba-dcdb97f9444f,2013-01-10,GBR,NaN,2013

In [26]:
org_processing = org_processing[org_processing['country_code'] == 'USA']
len(org_processing)

34931

In [27]:
kaufmann_index_df = pd.read_csv(R"d:\msc-project\from-github\dissertations-2021-info\rahim_ghani_predict\data\kauffman\Kauffman_Indicators_Early-Stage_Entrepreneurship_Data_2020_v2_edited.csv",encoding='utf-8')

In [28]:
kaufmann_index_df.head(3)

      name  year      rne
0  Alabama  1998  0.00230
1  Alabama  1999  0.00206
2  Alabama  2000  0.00193

In [29]:
import us

state = us.states.lookup('alabama')
state.abbr

'AL'

In [32]:
list(kaufmann_index_df['name'])

['Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Alaska',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arizona',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Colorado',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'Delaware',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Hawaii',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Iowa',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maine',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Montana',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'Nevada',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Oregon',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 ...]

In [40]:
state_name = list (kaufmann_index_df['name'])
state_code=list()

for state in state_name:
    code = us.states.lookup('alabama').abbr
    state_code.append(code)

kaufmann_index_df['state_code'] = state_code

In [37]:
state = kaufmann_index_df.iloc[0]['name']
us.states.lookup(state).abbr

'AL'

In [42]:
type(state_name[0])

str